@import "@/theme/colors.module.scss";
@import "@/theme/breakpoints.module.scss";

.score-badge {
  width: 96px;
  padding: 14px;

  display: flex;
  flex-direction: column;

  align-items: center;
  border-radius: 15px;

  @media (min-width: $tablet) {
    width: 140px;
  }

  @media (min-width: $desktop) {
    // width: 140px;
  }

  &--player-x {
    background-color: $light-blue;
  }

  &--player-o {
    background-color: $light-yellow;
  }

  &--player-tie {
    background-color: $silver;
  }
}
