@import '@/theme/colors.module.scss';

.main {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  padding: 6rem;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  gap: 20px;
}

.player-selection {
  width: 460px;

  padding: 1.5rem 1.5rem 1.875rem 1.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: $semi-dark-navy;
  box-shadow: inset 0px -8px 0px #10212a;

  &__title {
    margin-bottom: 1.5rem;
  }

  &__switch {
    width: 100%;

    display: flex;
    border-radius: 10px;
    padding: 0.563rem 0.5rem;

    background-color: $dark-navy;

    &__button {
      flex: 1;
      display: flex;

      border-radius: 10px;

      padding: 0.75rem 0rem;

      align-items: center;
      justify-content: center;

      cursor: pointer;

      &:hover {
        background-color: lighten($color: $dark-navy, $amount: 2.5%);
      }

      &--active {
        background-color: $silver;

        &:hover {
          background-color: $silver--hover;
        }
      }
    }
  }

  &__subtitle {
    margin-top: 1rem;
  }
}

.mode-selection {
  width: 100%;

  display: flex;
  flex-direction: column;

  gap: 1.25rem;
}
