@import "@/theme/colors.module.scss";

.main {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  padding: 6rem;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  gap: 20px;
}

.head {
  width: 100%;

  display: flex;
  justify-content: space-between;

  gap: 20px;

  &__logo,
  &__restart-button {
    flex: 1;
    display: flex;
  }

  &__logo {
    justify-content: flex-start;
  }

  &__restart-button {
    justify-content: flex-end;
  }
}

.field {
  display: flex;
  flex-direction: column;

  gap: 20px;

  &-row {
    display: flex;
    gap: 20px;
  }
}

.score {
  display: flex;
  gap: 20px;
}
