@import "@/theme/colors.module.scss";

.win-banner {
  position: absolute;

  width: 100vw;
  height: 100vh;

  &__background {
    width: 100vw;
    height: 100vh;

    background-color: #00000080;
  }

  &__banner {
    position: absolute;

    top: 50%;
    transform: translateY(-50%);

    width: 100%;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    padding: 45px;
    background-color: $semi-dark-navy;

    &__title {
      margin-bottom: 1rem;
    }

    &__winner {
      margin-bottom: 1.5rem;

      display: flex;
      gap: 1.5rem;
      align-items: center;
    }

    &__buttons {
      display: flex;

      align-items: center;
      justify-content: center;

      gap: 1rem;
    }
  }
}
